<ol class="breadcrumb">
    <li class="breadcrumb-item">Caminhões que estão aguardando você para pilotar &nbsp;&nbsp; <img href = "#" src="./assets/imagens/icone.png" width = "30px"/></li>
</ol>
<div class="row">
        <div class="col-sm-3">
                <div class="card left-bord">
                        <br />
                        <img class="card-img img-responsive img-thumbnail rounded-circle" src="./assets/imagens/DriveTruckIcon.png" width="50" height="50" alt="Card image cap">
                        <div class="card-block"><br /><hr class="hrModify">
                          <h4 class="card-title">Vaga </h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div><br />
                        <div class="card-footer text-muted">
                            Anunciado por FX Transportes 
                        </div>
                      </div>
        </div>
        <div class="col-sm-3">
                <div class="card left-bord">
                        <br />
                        <img class="card-img img-responsive img-thumbnail rounded-circle" src="./assets/imagens/DriveTruckIcon.png" width="50" height="50" alt="Card image cap">
                        <div class="card-block"><br /><hr class="hrModify">
                          <h4 class="card-title">Vaga </h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div><br />
                        <div class="card-footer text-muted">
                            Anunciado por FX Transportes 
                        </div>
                      </div>
        </div>
        <div class="col-sm-3">
                <div class="card left-bord">
                        <br />
                        <img class="card-img img-responsive img-thumbnail rounded-circle" src="./assets/imagens/DriveTruckIcon.png" width="50" height="50" alt="Card image cap">
                        <div class="card-block"><br /><hr class="hrModify">
                          <h4 class="card-title">Vaga </h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div><br />
                        <div class="card-footer text-muted">
                            Anunciado por FX Transportes 
                        </div>
                      </div>
        </div>
        <div class="col-sm-3">
                <div class="card left-bord">
                        <br />
                        <img class="card-img img-responsive img-thumbnail rounded-circle" src="./assets/imagens/DriveTruckIcon.png" width="50" height="50" alt="Card image cap">
                        <div class="card-block"><br /><hr class="hrModify">
                          <h4 class="card-title">Vaga </h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div><br />
                        <div class="card-footer text-muted">
                            Anunciado por FX Transportes 
                        </div>
                      </div>
        </div>
</div>

<!--<ol class="breadcrumb">
    <li class="breadcrumb-item">Caminhões que estão aguardando você para pilotar &nbsp;&nbsp; <img href = "#" src="./assets/imagens/icone.png" width = "30px"/></li>
</ol>
<div class="row">
   <div class="col-sm-4">
      <div class="card text-center">
         <div class="card-header">
            Publicado por Lian Rolim
         </div>
         <div class="card-block">
            <h4 class="card-title"><em>Vaga motorista carreta</em></h4>
            <img src="./assets/imagens/caminhoes/caminhao4.jpg" class="card-img-top img-fluid w-100" />
            <p class="card-text small">
               <b>Descrição:</b> Tenho um caminhão truck disponível, preciso de motorista para fazer viagens de santa maria a porto alegre
               <br />
               <b>Tempo de trabalho: </b>Tempo integral
               <br />
               <b>Carteira Assinada: </b>Sim
            </p>
            <a href="#" class="btn btn-outline-success">Ver detalhes da vaga</a>
            <br /><br />    
         </div>
         <div class="card-footer text-muted small">
            Publicado há 2 dias
         </div>
      </div>
   </div>
   <div class="col-sm-4">
    <div class="card text-center">
       <div class="card-header">
          Publicado por Lian Rolim
       </div>
       <div class="card-block">
          <h4 class="card-title"><em>Vaga motorista carreta</em></h4>
          <img src="./assets/imagens/caminhoes/caminhao4.jpg" class="card-img-top img-fluid w-100" />
          <p class="card-text small">
             <b>Descrição:</b> Tenho um caminhão truck disponível, preciso de motorista para fazer viagens de santa maria a porto alegre
             <br />
             <b>Tempo de trabalho: </b>Tempo integral
             <br />
             <b>Carteira Assinada: </b>Sim
          </p>
          <a href="#" class="btn btn-outline-success">Ver detalhes da vaga</a>
          <br /><br />    
       </div>
       <div class="card-footer text-muted small">
          Publicado há 2 dias
       </div>
    </div>
 </div>
   <div class="col-sm-4">
      <div class="card text-center">
         <div class="card-header">
            Publicado por Lian Rolim
         </div>
         <div class="card-block">
            <h4 class="card-title">Vaga motorista carreta</h4>
            <img src="./assets/imagens/caminhoes/caminhao2.jpg" class="card-img-top img-fluid w-100" />
            <p class="card-text small">
               <b>Descrição:</b> Tenho um caminhão truck disponível, preciso de motorista para fazer viagens de santa maria a porto alegre
               <br />
               <b>Tempo de trabalho: </b>Tempo integral
               <br />
               <b>Carteira Assinada: </b>Sim
            </p>
            <a href="#" class="btn btn-outline-success">Ver detalhes da vaga</a>
            <br /><br />    
         </div>
         <div class="card-footer text-muted small">
            Publicado há 2 dias
         </div>
      </div>
   </div>
</div>
<br />
<div class="row">
<div class="col-sm-4">
   <div class="card text-center">
      <div class="card-header">
         Publicado por Lian Rolim
      </div>
      <div class="card-block">
         <h4 class="card-title">Vaga motorista carreta</h4>
         <img src="./assets/imagens/caminhoes/caminhao3.jpg" class="card-img-top img-fluid w-100" />
         <p class="card-text small">
            <b>Descrição:</b> Tenho um caminhão truck disponível, preciso de motorista para fazer viagens de santa maria a porto alegre
            <br />
            <b>Tempo de trabalho: </b>Tempo integral
            <br />
            <b>Carteira Assinada: </b>Sim
         </p>
         <a href="#" class="btn btn-outline-success">Ver detalhes da vaga</a>
         <br /><br />    
      </div>
      <div class="card-footer text-muted small">
         Publicado há 2 dias
      </div>
   </div>
</div>
<div class="col-sm-4">
    <div class="card text-center">
       <div class="card-header">
          Publicado por Lian Rolim
       </div>
       <div class="card-block">
          <h4 class="card-title">Vaga motorista carreta</h4>
          <img src="./assets/imagens/caminhoes/caminhao3.jpg" class="card-img-top img-fluid w-100" />
          <p class="card-text small">
             <b>Descrição:</b> Tenho um caminhão truck disponível, preciso de motorista para fazer viagens de santa maria a porto alegre
             <br />
             <b>Tempo de trabalho: </b>Tempo integral
             <br />
             <b>Carteira Assinada: </b>Sim
          </p>
          <a href="#" class="btn btn-outline-success">Ver detalhes da vaga</a>
          <br /><br />    
       </div>
       <div class="card-footer text-muted small">
          Publicado há 2 dias
       </div>
    </div>
 </div>
<div class="col-sm-4">
   <div class="card text-center">
      <div class="card-header">
         Publicado por Lian Rolim
      </div>
      <div class="card-block">
         <h4 class="card-title">Vaga motorista carreta</h4>
         <img src="./assets/imagens/caminhoes/caminhao1.jpg" class="card-img-top img-fluid w-100" />
         <p class="card-text small">
            <b>Descrição:</b> Tenho um caminhão truck disponível, preciso de motorista para fazer viagens de santa maria a porto alegre
            <br />
            <b>Tempo de trabalho: </b>Tempo integral
            <br />
            <b>Carteira Assinada: </b>Sim
         </p>
         <a href="#" class="btn btn-outline-success">Ver detalhes da vaga</a>
         <br /><br />    
      </div>
      <div class="card-footer text-muted small">
         Publicado há 2 dias
      </div>
   </div>
</div>
<br />
<br /> -->