<form>
    <div class="text-center">
       <img src="./assets/imagens/DriveTruckIcon.png" width = "150px" class="img-responsive" style="margin:0 auto;" />
       <br /><br /><small class="text-muted">Recupeção de senha</small>
    </div>
    <hr>
    <div class="form-group">
       <label for="exampleInputEmail1">Informe o e-mail</label>
       <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Insira seu email">
       <small id="emailHelp" class="form-text text-muted">Enviaremos um e-mail para recuperar a sua senha</small>
    </div>
    <button type="submit" class="btn btn-lg btn-block btn-outline-success my-5 my-sm-0">Recuperar Dados</button>
 </form>
 <br />