<div class="card mb-3">
   <div class="card-header">
      <i class="fa fa-twitch"></i> Conversas
   </div>
   <div class="card-block">
      <div class="container">
         <div class="row">
            <div class="col-lg-3">
               <div class="btn-panel btn-panel-conversation">
                  <a href="" class="btn  col-lg-6 send-message-btn " role="button"><i class="fa fa-search"></i> Search</a>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="conversation-wrap col-lg-0">
               <div class="media conversation">
                  <a class="pull-left" href="#">
                  <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 50px; height: 50px; margin:0 auto; border-radius: 50%;" src="./assets/imagens/perfil/perfil1.jpg">
                  </a>
                  <div class="media-body">
                     <h5 class="media-heading">&nbsp; Lian Rolim</h5>
                     <small class="col-lg-10">online agora</small>
                  </div>
               </div>
               <div class="media conversation">
                  <a class="pull-left" href="#">
                  <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 50px; height: 50px; margin:0 auto; border-radius: 50%;" src="./assets/imagens/perfil/perfil2.jpg">
                  </a>
                  <div class="media-body">
                     <h5 class="media-heading">&nbsp; Jesse Hainzenreder</h5>
                     <small class="col-lg-10">online há 5 dias</small>
                  </div>
               </div>
               <div class="media conversation">
                  <a class="pull-left" href="#">
                  <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 50px; height: 50px; margin:0 auto; border-radius: 50%;" src="./assets/imagens/perfil/perfil1.jpg">
                  </a>
                  <div class="media-body">
                     <h5 class="media-heading">&nbsp; André Rolim</h5>
                     <small class="col-lg-10">online há 5 minutos</small>
                  </div>
               </div>
               <div class="media conversation">
                  <a class="pull-left" href="#">
                  <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 50px; height: 50px; margin:0 auto; border-radius: 50%;" src="./assets/imagens/perfil/perfil2.jpg">
                  </a>
                  <div class="media-body">
                     <h5 class="media-heading">&nbsp; Mateus Trespach</h5>
                     <small class="col-lg-10">online há 5 minutos</small>
                  </div>
               </div>
               <div class="media conversation">
                  <a class="pull-left" href="#">
                  <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 50px; height: 50px; margin:0 auto; border-radius: 50%;" src="./assets/imagens/perfil/perfil1.jpg">
                  </a>
                  <div class="media-body">
                     <h5 class="media-heading">&nbsp; Liliane Borneo</h5>
                     <small class="col-lg-10">online há 25 minutos</small>
                  </div>
               </div>
               <div class="media conversation">
                  <a class="pull-left" href="#">
                  <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 50px; height: 50px; margin:0 auto; border-radius: 50%;" src="./assets/imagens/perfil/perfil2.jpg">
                  </a>
                  <div class="media-body">
                     <h5 class="media-heading">&nbsp; Fernanda Scheffer</h5>
                     <small class="col-lg-10">Online há 30 minutos</small>
                  </div>
               </div>
               <div class="media conversation">
                  <a class="pull-left" href="#">
                  <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 50px; height: 50px; margin:0 auto; border-radius: 50%;" src="./assets/imagens/perfil/perfil1.jpg">
                  </a>
                  <div class="media-body">
                     <h5 class="media-heading">&nbsp; Gilberto Rolim</h5>
                     <small class="col-lg-10">online há 1 hora</small>
                  </div>
               </div>
            </div>
            <div class="message-wrap col-lg-8">
               <div class="msg-wrap">
                  <div class="media msg ">
                     <a class="pull-left" href="#">
                     <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 50px; height: 50px; margin:0 auto; border-radius: 50%;" src="./assets/imagens/perfil/perfil1.jpg">
                     </a>
                     <div class="media-body">
                        <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>
                        <h5 class="media-heading">&nbsp;&nbsp; Lian Rolim</h5>
                        <small class="col-lg-10">Dae cara, como tá o site, prontinho ?</small>
                     </div>
                  </div>
                  <div class="alert alert-info msg-date">
                     <strong>Ontem</strong>
                  </div>
                  <div class="media msg">
                     <a class="pull-left" href="#">
                     <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 50px; height: 50px; margin:0 auto; border-radius: 50%;" src="./assets/imagens/perfil/perfil2.jpg">
                     </a>
                     <div class="media-body">
                        <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>
                        <h5 class="media-heading"> &nbsp;&nbsp; Jesse Hainzenreder</h5>
                        <small class="col-lg-10">Sim to metendo, tá ficando show...</small>
                     </div>
                  </div>
                  <div class="media msg">
                     <a class="pull-left" href="#">
                     <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 50px; height: 50px; margin:0 auto; border-radius: 50%;" src="./assets/imagens/perfil/perfil1.jpg">
                     </a>
                     <div class="media-body">
                        <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>
                        <h5 class="media-heading">&nbsp;&nbsp; Lian Rolim</h5>
                        <small class="col-lg-10">Massa é isso, se puxa que vai ficar top o sisteminha :)</small>
                     </div>
                  </div>
                  <div class="media msg">
                     <a class="pull-left" href="#">
                     <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 50px; height: 50px; margin:0 auto; border-radius: 50%;" src="./assets/imagens/perfil/perfil2.jpg">
                     </a>
                     <div class="media-body">
                        <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>
                        <h5 class="media-heading">&nbsp;&nbsp; Naimish Sakhpara</h5>
                        <small class="col-lg-10">Acha que termina daqui umas duas semanas ? eu tava vendo para criar um tambem, que tu podia cadastrar, excluir, mandar e-mail e contatar a pessoa também... mas é mt trabalhoso, pracaba!!!</small>
                     </div>
                  </div>
                  <div class="media msg">
                     <a class="pull-left" href="#">
                     <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 50px; height: 50px; margin:0 auto; border-radius: 50%;" src="./assets/imagens/perfil/perfil2.jpg">
                     </a>
                     <div class="media-body">
                        <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>
                        <h5 class="media-heading">&nbsp;&nbsp; Naimish Sakhpara</h5>
                        <small class="col-lg-10">Acha que termina daqui umas duas semanas ? eu tava vendo para criar um tambem, que tu podia cadastrar, excluir, mandar e-mail e contatar a pessoa também... mas é mt trabalhoso, pracaba!!!</small>
                     </div>
                  </div>
               </div>
               <div class="send-wrap ">
                  <textarea class="form-control send-message" rows="2" placeholder="digite a mensagem..."></textarea>
               </div>
               <div class="btn-panel">
                  <a href="" class=" col-lg-3 btn   send-message-btn " role="button"><i class="fa fa-cloud-upload"></i> Enviar arquivo</a>
                  <a href="" class=" col-lg-4 text-right btn   send-message-btn pull-right" role="button"><i class="fa fa-plus"></i> Enviar</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>