<div class="row" *ngIf="lAbreTela">
    <div class="col-sm-4">
       <div class="card text-center">
          <div class="card-header">
             Detalhes
          </div>
          <br />
          <div class="card-block">
             <h4 class="card-title">{{dtlVendas?.nomeVeiculo}} - {{dtlVendas?.modelo}} 
                <img src="{{dtlVendas?.img01}}" class="card-img-top img-fluid w-100" />  
                <br /><br />
                <em>{{dtlVendas?.valor | currency:'BRL':true }}</em>
             </h4>
             <p class="card-text small">
                {{dtlVendas?.anoModelo}} - {{dtlFichaTecnica[0]?.quilometros}}
             </p>
             <div class="form-group">
                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Escreva sua pergunta..."></textarea>
                <br />
                <a href="#" class="btn btn-outline-success">Perguntar</a>
             </div>
             <br /><br />    
          </div>
       </div>
       <br />
       <div class="card text-center" *ngIf="dtlVendas?.tipoAnuncio == 'Revenda'">
            <div class="card-header">
                Informação da concessionária
            </div>
            <br />
            <div class="card-block">
               <p class="card-text small">
                  Nome<br />
                  {{dtlUsuario?.nomeEmpresa}}
  
                  <br /><br />
                  Horário de atendimento<br />
                  
                  {{dtlUsuario?.horarioAtendimento}} <br /><br />
  
                  Telefone<br />
                  
                  {{dtlVendas?.telefoneFixo}}<br />
                  {{dtlVendas?.telefoneCel}} <br /><br />
  
                  Localização do veículo<br />
                  
                  {{dtlVendas?.cidadeEstado}}<br /><br />
               </p>
               <div class="form-group">
                  <a href="#" class="btn btn-outline-success">Ver todos veiculos</a>
               </div>
               <br /><br />    
            </div>
         </div>

    </div>
    <br />
    <div class="col-sm-8">
       <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
             <div class="card-header" role="tab" id="headingImagens">
                <h6 class="mb-0">
                   <a data-toggle="collapse" data-parent="#accordion" href="#collapseImagens" aria-expanded="true" aria-controls="collapseImagens">
                   Imagens
                   </a>
                </h6>
             </div>
             <div id="collapseImagens" class="collapse show" role="tabpanel" aria-labelledby="headingImagens">
                <div class="card-block">
                   <br /><img src="./assets/imagens/DriveTruckIcon.png" width = "100px" height="100px" class="img-responsive" style="margin:0 auto;" />
                   <img src="./assets/imagens/DriveTruckIcon.png" width = "100px" height="100px" class="img-responsive" style="margin:0 auto;" />
                   <img src="./assets/imagens/DriveTruckIcon.png" width = "100px" height="100px" class="img-responsive" style="margin:0 auto;" />
                   <img src="./assets/imagens/DriveTruckIcon.png" width = "100px" height="100px" class="img-responsive" style="margin:0 auto;" />
                   <img src="./assets/imagens/DriveTruckIcon.png" width = "100px" height="100px" class="img-responsive" style="margin:0 auto;" />
                   <img src="./assets/imagens/DriveTruckIcon.png" width = "100px" height="100px" class="img-responsive" style="margin:0 auto;" />
                   <img src="./assets/imagens/DriveTruckIcon.png" width = "100px" height="100px" class="img-responsive" style="margin:0 auto;" />
                   <img src="./assets/imagens/DriveTruckIcon.png" width = "100px" height="100px" class="img-responsive" style="margin:0 auto;" />
                   <img src="./assets/imagens/DriveTruckIcon.png" width = "100px" height="100px" class="img-responsive" style="margin:0 auto;" />
                   <img src="./assets/imagens/DriveTruckIcon.png" width = "100px" height="100px" class="img-responsive" style="margin:0 auto;" />
                   <br /><br />
                </div>
             </div>
          </div>
          <br />
          <div class="card">
             <div class="card-header" role="tab" id="headingFichaTecnica">
                <h6 class="mb-0">
                   <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFichaTecnica" aria-expanded="false" aria-controls="collapseFichaTecnica">
                   Ficha Técnica
                   </a>
                </h6>
             </div>
             <div id="collapseFichaTecnica" class="collapse" role="tabpanel" aria-labelledby="headingFichaTecnica">
                <div class="card-block">
                   <div class="row">
                      <br />&nbsp;&nbsp;&nbsp;&nbsp;
                      <div class="col-sm-3"><br />
                         <b>Marca de motor</b><br />
                         {{dtlFichaTecnica[0]?.marcaMotor}}
                         <br /><br />
                         <b>Marca</b><br />
                         {{dtlFichaTecnica[0]?.marca}}
                      </div>
                      <div class="col-sm-3"><br />
                         <b>Quilômetros</b><br />
                         {{dtlFichaTecnica[0]?.quilometros}} km
                         <br /><br />
                         <b>Modelo</b><br />
                         {{dtlVendas?.modelo}}
                      </div>
                      <div class="col-sm-3"><br />
                         <b>Capacidade da carga</b><br />
                         {{dtlFichaTecnica[0]?.capacidadeCarga}}
                         <br /><br />
                         <b>Ano/Modelo</b><br />
                         {{dtlVendas?.anoModelo}}
                      </div>
                   </div>
                   <br />
                </div>
             </div>
          </div>
          <br />
          <div class="card">
             <div class="card-header" role="tab" id="headingAdicionais">
                <h6 class="mb-0">
                   <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseAdicionais" aria-expanded="false" aria-controls="collapseAdicionais">
                   Adicionais
                   </a>
                </h6>
             </div>
             <div id="collapseAdicionais" class="collapse" role="tabpanel" aria-labelledby="headingAdicionais">
                <div class="card-block">
                   <div class="row">
                      <br />&nbsp;&nbsp;&nbsp;&nbsp;
                      <div class="col-sm-3"><br />
                         <b>Potência :</b> {{dtlAdicionais[0]?.potencia}}
                         <br /><br />
                         <b>Controle de tração :</b> {{dtlAdicionais[0]?.controleTracao}}<br />
                      </div>
                      <div class="col-sm-3"><br />
                         <b>Único dono :</b> {{dtlAdicionais[0]?.unicoDono}}
                         <br /><br />
                         <b>Transmissão :</b> {{dtlAdicionais[0]?.transmissao}}<br />
                      </div>
                      <div class="col-sm-3"><br />
                         <b>Direção :</b> {{dtlAdicionais[0]?.direcao}}
                         <br /><br />
                      </div>
                   </div>
                   <br />
                </div>
             </div>
          </div>
          <br />
          <div class="card">
             <div class="card-header" role="tab" id="headingEquipamentos">
                <h6 class="mb-0">
                   <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsEquipamentos" aria-expanded="false" aria-controls="collapsEquipamentos">
                   Equipamentos
                   </a>
                </h6>
             </div>
             <div id="collapsEquipamentos" class="collapse" role="tabpanel" aria-labelledby="headingEquipamentos">
                <div class="card-block">
                   <div class="row">
                      <br />&nbsp;&nbsp;&nbsp;&nbsp;
                      <div class="col-sm-3" *ngFor="let equip of dtlEquipamento; let i = index"><br />
                         {{equip?.nome}}                    
                      </div>
                      <!--<div class="col-sm-3"><br />
                         Capacidade de tração
                      </div> -->
                   </div>
                   <br />
                </div>
             </div>
          </div>
          <br />
          <div class="card">
             <div class="card-header" role="tab" id="headingSeguranca">
                <h6 class="mb-0">
                   <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeguranca" aria-expanded="false" aria-controls="collapseSeguranca">
                   Segurança
                   </a>
                </h6>
             </div>
             <div id="collapseSeguranca" class="collapse" role="tabpanel" aria-labelledby="headingSeguranca">
                <div class="card-block">
                   <div class="row">
                      <br />&nbsp;&nbsp;&nbsp;&nbsp;
                      <div class="col-sm-3" *ngFor="let segu of dtlSeguranca; let i = index"><br />
                         {{segu?.nome}}                 
                      </div>
                   </div>
                   <br />
                </div>
             </div>
          </div>
          <br />
          <div class="card">
             <div class="card-header" role="tab" id="headingConforto">
                <h6 class="mb-0">
                   <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseConforto" aria-expanded="false" aria-controls="collapseConforto">
                   Conforto
                   </a>
                </h6>
             </div>
             <div id="collapseConforto" class="collapse" role="tabpanel" aria-labelledby="headingConforto">
                <div class="card-block">
                   <div class="row">
                      <br />&nbsp;&nbsp;&nbsp;&nbsp;
                      <div class="col-sm-3" *ngFor="let conf of dtlConforto; let i = index"><br />
                        {{conf?.nome}}              
                      </div>
                   </div>
                   <br />
                </div>
             </div>
          </div>
          <br />
          <div class="card">
             <div class="card-header" role="tab" id="headingSom">
                <h6 class="mb-0">
                   <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSom" aria-expanded="false" aria-controls="collapseSom">
                   Som
                   </a>
                </h6>
             </div>
             <div id="collapseSom" class="collapse" role="tabpanel" aria-labelledby="headingSom">
                <div class="card-block">
                   <div class="row">
                      <br />&nbsp;&nbsp;&nbsp;&nbsp;
                      <div class="col-sm-3" *ngFor="let som of dtlSom; let i = index"><br />
                         {{som?.nome}}            
                      </div>
                   </div>
                   <br />
                </div>
             </div>
          </div>
          <br />
          <div class="card">
             <div class="card-header" role="tab" id="headingInfoVendedor">
                <h6 class="mb-0">
                   <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseInfoVendedor" aria-expanded="false" aria-controls="collapseInfoVendedor">
                   Descrição do vendedor
                   </a>
                </h6>
             </div>
             <div id="collapseInfoVendedor" class="collapse" role="tabpanel" aria-labelledby="headingInfoVendedor">
                <div class="card-block"><br />
                    {{dtlVendas?.descricao}}
                   <br />
                </div> <br />
             </div>
          </div>
       </div>
    </div>
 </div>
<br />
<!--
<div class="row">
    <div class="col-sm-4">
       <div class="card text-center">
          <div class="card-header">
              Informação da concessionária
          </div>
          <br />
          <div class="card-block">
             <p class="card-text small">
                Nome<br />
                Crtcarretas

                <br /><br />
                Horário de atendimento<br />
                
                Comercial <br /><br />

                Telefone<br />
                
                (15) 32754701<br />
                (15) 998364076 <br /><br />

                Localização do veículo<br />
                
                Itapetininga, São Paulo<br /><br />
             </p>
             <div class="form-group">
                <a href="#" class="btn btn-outline-success">Ver todos veiculos</a>
             </div>
             <br /><br />    
          </div>
       </div>
    </div>
</div> -->